<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{../layouts/main}">
<head>
    <title>Greeting</title>
</head>
<body>
<section layout:fragment="content">

    <div>
        <h1>Welcome to kafka page!</h1>
        <section id="string">
            <p>Kafka String Sample</p>

            <form th:action="@{/kafka/string}" method="get">
                <p>
                    <input type="text" id="message" name="message" placeholder="Write a message to send" />
                    <input type="submit" class="btn btn-lg btn-primary" value="Send"/>
                </p>
                <div th:if="${isSend}">
                    <p>Messages sendt successfuly!</p>
                </div>
            </form>
        </section>
    </div>
</section>
</body>
</html>
