<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{../layouts/main}">
<head>
    <title>Kafka</title>
</head>
<body>
<section layout:fragment="content">

    <div>
        <h3>Welcome to kafka String Sample!</h3>
        <section id="string">

            <form th:action="@{/kafka/string}" method="get">
                <p>
                    <input type="text" id="message" name="message" placeholder="Write a message to send" />
                    <input id="send" type="submit" class="btn btn-lg btn-primary" value="Send"/>
                    <button id="load" class="btn btn-primary invisible" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Sending...
                    </button>
                </p>
                <div class="alert alert-success" th:if="${isSend}">
                    <p>Messages sendt successfuly!</p>
                </div>
            </form>
        </section>
    </div>
</section>
</body>
</html>
