<div class="container">

  <div class="container">

    <div class="row">
      <!-- list employees -->
      <div class="col">

        <div class="alert alert-danger" id="show-error" *ngIf="showError">
          {{msgShowError}}
        </div>

        <table class="table table-striped border mt-1">
          <caption>Listen av Agitecs ansatte</caption>
          <thead>
          <tr>
            <th id="#id">#ID</th>
            <th id="fornavn">Fornavn</th>
            <th id="etternavn">Etternavn</th>
            <th id="rolle">Rolle</th>
            <th id="action">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let employee of employees | sortBy: 'asc':'firstName'">
            <td headers="#id"> {{employee.id}} </td>
            <td headers="fornavn"> {{employee.firstName}} </td>
            <td headers="etternavn"> {{employee.lastName}} </td>
            <td headers="rolle"> {{employee.role}} </td>
            <td headers="action">
              <button class="btn btn-primary" (click)="selectEmployee(employee)"> Select</button>
              <hr />
              <button class="btn btn-primary" (click)="deleteEmployee(employee)"> Delete</button>
            </td>
          </tr>
          </tbody>
        </table>

      </div>

      <!-- create employee and show employee -->
      <div class="col">
        <!-- create -->
        <div class="alert alert-danger" id="create-error" *ngIf="createError">
          {{msgCreateError}}
        </div>

        <form>
          <div class="form-group">
            <label for="id">ID</label>
            <input [(ngModel)]="employee.id" type="text" name="id" class="form-control" id="id" aria-describedby="idHelp" placeholder="Employee ID">
            <small id="idHelp" class="form-text text-muted">Enter your employee’s ID</small>

            <label for="firstName">Employee Fornavn</label>
            <input [(ngModel)]="employee.firstName" type="text" name="firstName" class="form-control" id="firstName" aria-describedby="firstNameHelp" placeholder="Enter your employee fornavn">
            <small id="firstNameHelp" class="form-text text-muted">Enter your employee’s name</small>

            <label for="lastName">Employee Etternavn</label>
            <input [(ngModel)]="employee.lastName" type="text" name="lastName" class="form-control" id="lastName" aria-describedby="lastNameHelp"
                   placeholder="Enter your employee etternavn">
            <small id="lastNameHelp" class="form-text text-muted">Enter your employee’s etternavn</small>

            <label for="role">Employee Roller</label>
            <select [(ngModel)]="employee.role" name="role" class="form-control" id="role" aria-describedby="roleHelp">
              <option disabled>Select Roller</option>
              <option *ngFor="let r of rolles">{{r.name}}</option>
            </select>
            <small id="roleHelp" class="form-text text-muted">Enter your employee’s rolle</small>
          </div>
          <button class="btn btn-primary" (click)="createEmployee(employee)">Create employee</button>
        </form>

        <hr />

        <!-- Show -->
        <div class="card text-center" *ngIf="selectedEmployee">
          <div class="card-header">
            # {{selectedEmployee.id}}
          </div>
          <div class="card-block">
            <h4 class="card-title">{{selectedEmployee.firstName}} {{selectedEmployee.lastName}}</h4>
            <p class="card-text">
              {{selectedEmployee.role}}
            </p>
          </div>
        </div>

      </div>

    </div>


    <div style="border: 1px solid green; padding: 5px;">

      <table class="table table-striped border mt-1">
        <caption>Listen av Agitecs ansatte</caption>
        <thead>
        <tr>
          <th [ngClass]="sID ? 'headerSortUp' : 'headerSortDown'" (click)="clickEvent('id')" scope="col" [appSort]="employees" data-order="desc" data-name="id">#ID</th>
          <th [ngClass]="sFirst ? 'headerSortUp' : 'headerSortDown'" (click)="clickEvent('first')" scope="col" [appSort]="employees" data-order="desc" data-name="firstName">Fornavn</th>
          <th [ngClass]="sLast ? 'headerSortUp' : 'headerSortDown'" (click)="clickEvent('last')" scope="col" [appSort]="employees" data-order="desc" data-name="lastName">Etternavn</th>
          <th [ngClass]="sRoller ? 'headerSortUp' : 'headerSortDown'" (click)="clickEvent('roller')" scope="col" [appSort]="employees" data-order="desc" data-name="role">Rolle</th>
          <!--<th scope="col" [appSort]="employees" data-order="desc" data-name="date2" data-type="date">Rolle</th>-->
          <th scope="col" id="action2">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let employee of employees">
          <td> {{employee.id}} </td>
          <td> {{employee.firstName}} </td>
          <td> {{employee.lastName}} </td>
          <td> {{employee.role}} </td>
          <td>
            <button class="btn btn-primary" (click)="selectEmployee(employee)"> Select</button>
            <hr />
            <button class="btn btn-primary" (click)="deleteEmployee(employee)"> Delete</button>
          </td>
        </tr>
        </tbody>
      </table>



    </div>


  </div>

</div>

