
<nav>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/">ExampleAPP</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Kafka</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/partner">Partner</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="http://localhost:8080/h2-console/">H2-testdb</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/customer">Customer</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/employee">Employee</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Logg inn</a>
    </li>
  </ul>
  <hr />
  <router-outlet></router-outlet>
</nav>
