<div class="row">
  <div class="col-md-6">
    <app-customers-list [customers]="customers" (customerSelected)="onSelect($event)"></app-customers-list>
  </div>
  <div class="col-md-6">
    <app-customer-details [customer]="customer"></app-customer-details>
  </div>
</div>
<button (click)="addCustomerClone()" class="btn btn-primary">Add Customer (push a clone)</button>
<div class="container">
  <label>
    <input class="form-check-input"
           type="checkbox"
           (change)="checkChanged()"
           [checked]="displayCustomers" />
    Display Customers
  </label>
</div>


