<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{../layouts/main}">
<head>
    <title>Please Log In</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <h1>Please Log In</h1>

        <div>
            <p th:if="${param.error}">
                Invalid username and password.
            </p>
            <P th:if="${param.logout}">
                You have been logged out.
            </P>
        </div>

        <form th:action="@{/login}" method="post">
            <p>
                <label for="username" >Username</label>
                <input type="text" id="username" name="username" placeholder="Username" />
            </p>

            <p>
                <label for="password" >Password</label>
                <input type="password" id="password" name="password" placeholder="Password" />
            </p>


            <p>
                <input type="submit" class="btn btn-lg btn-primary" value="Sign In"/>
            </p>
        </form>

    </div>
</section>
</body>
</html>
