<div>
  <h3>Welcome to kafka String Sample!</h3>
  <section id="string">

    <div class="alert alert-success" id="send-msg" *ngIf="isSend">
      <p>Messages sendt successfuly!</p>
    </div>
    <div class="alert alert-danger" id="send-error" *ngIf="hasSendError">
      {{sendError}}
    </div>

    <p>
      <input type="text" id="message" name="message" (change)="changeMsg($event)" placeholder="Write a message to send" />
      <button id="send" class="btn btn-primary" (click)="SendKafkaMessage()">Send</button>
      <button id="load" class="btn btn-primary invisible" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Sending...
      </button>
    </p>

  </section>
</div>
