<!-- Header -->
<app-header></app-header>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  Tollbar
</div>

<div class="content" role="main">



  <div>
    <h1>Angular 10: proof of concept</h1>
    <ul>
      <li>ExampleAPP</li>
      <li>Kafka</li>
      <li><button routerLink="/partner">Partner</button></li>
      <li>H2-testdb</li>
      <li><button routerLink="/customer">Customer</button></li>
      <li><button routerLink="/employee">Employee</button></li>
      <li>Logg inn</li>
    </ul>
    <router-outlet></router-outlet>
    <hr />
  </div>

  <!-- Highlight Card -->

  <!-- Resources -->


  <!-- Next Steps -->

  <!-- Terminal -->

  <!-- Links -->

  <!-- Footer -->
  <app-footer></app-footer>

</div>
