<hr />

<div class="container-lg" style="border: 1px solid  blue;">
  <div class="row">
    <div class="col">
      <app-employee-details [selectedEmployee]="selectedEmployee" (selectedEmployeeChanged)="changed($event)"></app-employee-details>
    </div>
  </div>
  <div class="row">
    <div class="col">

      <!-- list employees sort by firstname -->
      <div class="alert alert-danger" id="show-error" *ngIf="showError">
        {{msgShowError}}
      </div>

      <table class="table table-striped border mt-1">
        <caption>Listen av Agitecs ansatte</caption>
        <thead>
        <tr>
          <th id="#id">#ID</th>
          <th id="fornavn">Fornavn</th>
          <th id="etternavn">Etternavn</th>
          <th id="rolle">Rolle</th>
          <th id="action">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let employee of employees | sortBy: 'asc':'firstName'">
          <td headers="#id"> {{employee.id}} </td>
          <td headers="fornavn"> {{employee.firstName}} </td>
          <td headers="etternavn"> {{employee.lastName}} </td>
          <td headers="rolle"> {{employee.role}} </td>
          <td headers="action">
            <button class="btn btn-primary" (click)="selectEmployee(employee)"> Select</button>
            <hr />
            <button class="btn btn-primary" (click)="deleteEmployee(employee)"> Delete</button>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
