
<nav>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/">ExampleAPP</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/kafka">Kafka</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/partner">Partner</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="http://localhost:8080/h2-console/">H2-testdb</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/customers">Customers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/state">State Management</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/state-management">State Management</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/employee">Employee</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/subjects">Subjects</a>
    </li>
    <li class="nav-item">
      <div *ngIf="!isLogin">
        <a class="nav-link" routerLink="/users/login">Logg inn</a>
      </div>
      <div *ngIf="isLogin">
        <h1>Hello _navn_!</h1>
        <button class="btn btn-primary" (click)="signOut()">Sign Out</button>
     </div>
    </li>
  </ul>
  <hr />
  <router-outlet></router-outlet>
</nav>
