<div *ngIf="customers$ | async as customers">
  Customers list:
</div>

<!--
<div *ngIf="customers?.length">
  Customers to list:
</div>
-->

<h4>Customers</h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <!--
    <tr *ngFor="let cust of customers" (click)="select(cust)">
      <td>{{ cust.name }}</td>
    </tr>
    -->
    <tr *ngFor="let cust of customers$ | async" (click)="selected(cust)">
      <td>{{ cust.name }}</td>
    </tr>
  </tbody>
</table>
