<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Main page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
          crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css"
          rel="stylesheet"
          crossorigin="anonymous">

    <!--
    <base href="/" />
     <link rel="stylesheet" type="text/css"
           href="/webjars/bootstrap/css/bootstrap.min.css" />
     <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
     <script type="text/javascript"
             src="/webjars/bootstrap/js/bootstrap.min.js"></script>
     -->

    <!--
    https://www.bootstrapcdn.com/bootswatch/
    https://getbootstrap.com/
    https://datatables.net/extensions/scroller/examples/styling/bootstrap.html
    https://datatables.net/extensions/scroller/examples/styling/jqueryui.html
    -->
</head>
<body>
<noscript>
    You need to enable JavaScript to run this app.
</noscript>
<p>Temporary view page for now. (Use REACT later)</p>

<!-- Header -->
<header class="header">
    <div layout:insert="~{../fragments/header}" />
</header>
<!-- Main Navigation -->
<nav class="navbar">
    <div class="navbar-list" id="navbar">
        <ul class="" style="display: flex;list-style-type: none;">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Example APP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/h2-console}">H2-testdb</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/kafka}">kafka</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/person}">Person</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/partner}">Partner</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/customer}">Customer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/employee}">Employee</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/home}">Home (Remove later)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/hello}">Hello (Remove later)</a>
            </li>
            <li class="nav-item">
                <div th:if="${#strings.isEmpty(#httpServletRequest.remoteUser)}">
                    <a class="nav-link" th:href="@{/login}">Logg Inn</a>
                </div>
                <div th:if="${not #strings.isEmpty(#httpServletRequest?.remoteUser)}">
                    <h1 th:inline="text">Hello [[${#httpServletRequest.getUserPrincipal().getName()}]]!</h1>
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Sign Out"  class="btn btn-lg btn-primary"/>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>
<hr />
<!-- Optional Section -->
<th:block layout:fragment="optional" />
<!--
https://www.google.com/search?q=htm5+examples&source=lnms&tbm=isch&sa=X&ved=2ahUKEwilt8ydppDrAhWrxIsKHc5RCcUQ_AUoAXoECA0QAw&biw=2038&bih=1055#imgrc=pafXmXtGdiJ-WM

<article>
    <h1>This is a article heading</h1>
    <p> Article information</p>
</article>
<aside>
    <figure>
        image
    </figure>
    <p> Aside information</p>
</aside>
-->
<!-- Content Section -->
<section layout:fragment="content">
    <p>This is filled by the content template.</p>
</section>
<hr />
<!-- Footer -->
<footer class="footer">
    <div layout:insert="~{../fragments/footer}" />
</footer>
</body>
</html>
