<div class="view">
  <div class="container">
    <header>
      <h3><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;State Management Examples</h3>
    </header>
    <br />
    <nav>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/state-management/customers">Customers Ngrx </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/state-management/ngrx">Ngrx (TODO)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/state-management/ngrx-data">Ngrx Data (TODO)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/state-management/observable-store">Observable Store (TODO)</a>
        </li>
      </ul>
      <router-outlet></router-outlet>
    </nav>
  </div>
</div>
